* {
  box-sizing: border-box;
}
button {
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}
button.button {
  border: none;
  background-color: red;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  font-size: small;
}
button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
}

h4 {
  text-align: center;
}
